.container-fluid {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.row.content {
  height: 100%;
}

.map {
  height: 100%;
  padding: 0;
}


.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-family: Helvetica, serif;
  font-size: 18px;
  font-weight: bold;
}


.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border: 2px solid rgba(0, 0, 0, 1);
}


.menu {
  background-image: /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),*/ url("https://c4.wallpaperflare.com/wallpaper/899/539/803/simple-background-artist-minimalism-digital-art-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: auto;
}

.inline-svg {
  border: 10px solid white;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
}

.statistics {
  background-color: whitesmoke;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
    padding: 15px;
    display: none;
  }

  .statistics {
    height: auto;
    padding: 15px;
  }

  .map {
    height: 500px;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 950px) {


}




