/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  height: 100%;
}

.leaflet-touch .leaflet-bar a {
  width: 60px;
  height: 30px;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-family: Helvetica, serif;
  font-size: 18px;
  font-weight: bold;
}


.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border: 2px solid rgba(0, 0, 0, 1);
}

.legend {
  line-height: 18px;
  color: #555;
}

.info {
  padding: 15px;
  font: 1.3rem Lato, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend i {
  border: 1px solid black;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 8px;
  opacity: 0.7;
  border-radius: 50%;


}

.legend-header {
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
}

.info.legend.leaflet-control {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .info.legend.leaflet-control {
    width: 130px;
    height: 150px;
    padding: 5px;
  }

  .legend {
    color: #555;
  }

  .info {
    font: 1rem Lato, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

  }

  .legend i {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
    opacity: 0.7;
    border-radius: 50%;
  }

  .legend-header {
    text-align: center;
    font-size: 1rem;
    color: #333333;
  }

  .info.legend.leaflet-control {
    margin-bottom: 10px;
  }

  .pin-image {
    width: 10px;
    height: 10px;
  }
}
